{{#paper-button
  primary=true
  raised=true
  onClick=(perform this.createPostsTask)
  disabled=this.createPostsTask.isRunning
}}
  Create Many Posts
{{/paper-button}}
{{#if this.createPostsTask.isRunning}}creating...{{/if}}

{{#each this.posts as |post|}}
  <div class="post">
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
  </div>
{{else}}
  <p>no posts</p>
{{/each}}
